HTML{
    background: url("img/Coin-background.png")no-repeat center fixed;
    background-size: cover;
}
#body{
    text-align: center;
}

button{
    font-size: 50px;

}
#result{
    font-size: 50px;
}
#links{
    text-align: center;
}
a{
    color:black;
}
img{
    width:5px;
    height:5px;
}