HTML{
    background:lightblue;
}
#links{
    text-align:center;
}

#scores{
    display:flex;
    flex:1;
    text-align:center;
    padding-left:250px;
    padding-top:50px;
    font-size:25px;
}
#opponent{
    padding-left: 475px;
}

#images{
    display:flex;
    flex:1;
}

#rock-image{
    width:150px;
    height: 150px;
    text-align:left;
    padding-left:50px;
    padding-top:100px;
}

#paper-image{
    width:100px;
    height: 150px;
    padding-left: 50px;
    padding-top:100px;
}
#scissors-image{
    width:100px;
    height: 150px;
    padding-left: 50px;
    padding-top:100px;
}

#check{
    width:125px;
    height: 150px;
    padding-top:100px;
    padding-right: 275px;
}

#pick{
    display:flex;
    flex:1;
    padding-left:250px;
    font-size:25px;
}
#message{
    text-align: center;
}

